__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.pkl
*.log
*.tmp
*.DS_Store
*.swp

.venv/
venv/
env/
ENV/


.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/


pip-log.txt
pip-delete-this-directory.txt


dist/
build/
*.spec


.vscode/
.idea/
*.sublime-workspace
*.sublime-project



app/models/*.pt
app/models/*.onnx


app/static/sample_images/


uploads/
*.cache/
.cache/
logs/


.streamlit/config.toml
.streamlit/credentials.toml

.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/*.pyc


*.env
.env.*
token.txt
secrets.json
hf_*_token
apikey_*.json

sample_output/
*.json
*.pdf
*.csv
*.xls*


*.safetensors
hub/
